.navbar {
  background-color: #35404e;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 550px;
}

.navbar div {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.navbar a {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.navbar img {
  max-width: 40px;
  max-height: 30px;
}

.navbar img.wide-image {
  max-width: 60px;
}

.navbar a.active {
  background-color: #00357a;
  color: white;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
