.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://drive.google.com/uc?id=1Zbt-kDEntF_QcqrlYVnNd_l0IO7WVF3t");
  height: 50%;
  background-position: center;
  background-size: cover;
  min-width: 500px;
}

.banner img {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 500px;
  max-width: 700px;
  width: 50vw;
}
